force-apps/dreamhouse_ELTOROit/main/default/flows/ETDH_Re_Schedule_Property_Open_House_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASS060</name>
        <label>ASS060 Update broker</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>GET040.Broker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BrokerID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS070</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS070</name>
        <label>ASS070 Update other fields</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>GET040.DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPD080</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IF010</name>
        <label>IF010 Which mode?</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>GET040</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reschedule</defaultConnectorLabel>
        <rules>
            <name>Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PropertyOpenHouseEventID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NEW020</targetReference>
            </connector>
            <label>Schedule</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF050</name>
        <label>IF050 Broker Changed?</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>ASS070</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IF040_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BrokerID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS060</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow to schedule and reschedule a property open house event. When rescheduling, the PropertyOpenHouseEventID is required</description>
    <environments>Default</environments>
    <interviewLabel>ETDH: Re-Schedule Property Open House Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ETDH: Re-Schedule Property Open House Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>NEW020</name>
        <label>NEW020 Schedule Open House</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignRecordIdToReference>PropertyOpenHouseEventID</assignRecordIdToReference>
        <connector>
            <targetReference>GET030</targetReference>
        </connector>
        <inputAssignments>
            <field>Broker__c</field>
            <value>
                <elementReference>BrokerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateTime__c</field>
            <value>
                <elementReference>DateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property__c</field>
            <value>
                <elementReference>PropertyID</elementReference>
            </value>
        </inputAssignments>
        <object>OpenHouse__c</object>
    </recordCreates>
    <recordLookups>
        <name>GET030</name>
        <label>GET030 Find new record</label>
        <locationX>248</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PropertyOpenHouseEventID</elementReference>
            </value>
        </filters>
        <object>OpenHouse__c</object>
        <outputReference>PropertyOpenHouseEvent</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Broker__c</queriedFields>
        <queriedFields>DateTime__c</queriedFields>
        <queriedFields>Property__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET040</name>
        <label>GET040 Find open house event to reschedule</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IF050</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PropertyOpenHouseEventID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpenHouse__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPD080</name>
        <label>UPD080 Update broker</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>GET030</targetReference>
        </connector>
        <inputReference>GET040</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IF010</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Broker ID (optional) is the ID identifying the broker who will hose the open house event. If the value is provided, you must find the ID before calling the flow</description>
        <name>BrokerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>DateTime for the open house event</description>
        <name>DateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Property Id (18 characters) that will host the open house event. You must find the ID before calling the flow</description>
        <name>PropertyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The new property open house event created</description>
        <name>PropertyOpenHouseEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpenHouse__c</objectType>
    </variables>
    <variables>
        <description>Open house event Id (18 characters) for the open house event being (re)scheduled. Value is required when the open house event is being rescheduled.</description>
        <name>PropertyOpenHouseEventID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
